@import "config";
@import "mixin";

.main-container{
background-color: rgba(243, 240, 240, 0.83);
  display: flex;
  flex-direction: column;
  text-align: center;

  .images {
    display: flex;
    justify-content: right;
    img {
      object-fit: cover;
      object-position: center center;
      height: 38px;
      width: 38px;
      margin-top: 39px;
      margin-right: 10px;
    }
  }

  h1{
    margin-top: 9px;
    margin-bottom: 15px;
    font-size: 17px;
  }

  .p-container{
    font-size: 10px;
    text-align: inherit;
    margin-top: -10px;
    margin-right: 10px;
    font-weight: lighter;
  }



p{
  @include fonts;
  text-align: center;
  margin-top: 4px;
}
  h2{
    @include fonts;
    margin-top: -10px;
    font-size: large;

  }
  .p2{
    @include fonts;
    margin-top: -10px;
    text-justify: distribute;
    font-size:4px;
  }
  .container{
    margin-top: 37px;
    display: grid;
    grid-template-rows:repeat(4,1fr);
    grid-template-columns:repeat(3, 246px);
    place-content: center;
    grid-column-gap: 19px;

    .grid1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
    }

    .grid2{
      display: flex;
      flex-direction: column;
      align-content: space-between;
    }

    .grid3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }



    .left{
      background-color:#ffffff;
      height: 167px;
      width: 217px;
      @include fonts;
      @include flexCenter;
      border-top:3px solid $secondary-color;
    }


    .centre1{
      height: 167px;
      width: 217px;
      margin-bottom: 9px;
      background-color: #ffffff;
      @include fonts;
      @include flexCenter;
      border-top:3px solid red;
    }

    .centre2{
      background-color: #ffffff;
      height: 167px;
      width: 217px;
      margin-top: 9px;
      @include fonts;
      @include flexCenter;
      border-top: 3px solid $elementary-color;
    }

    .right{
      background-color: #ffffff;
      height: 167px;
      width: 217px;
      @include fonts;
      @include flexCenter;
      border-top: 3px solid $university-color;
    }

    .left, .centre1, .centre2, .right{
      padding: 14px;
      @include boxShadowHover;
    }

  }
}